---
layout: default
title: Home
subtitle: "#Emocionart es una acción de Artinpocket para promocionar e impulsar la compra de arte"
subsubtitle: 01/10 - 31/12
subsubsubtitle: BCN 2014
category: mur-diari
---

<h1 class="tooltip-description">Arte <abbr href="#" data-toggle="tooltip" title="{{ site.tooltip-analogic }}">Analógico</abbr></h1>
<div class="posts">
  {% for post in site.categories['emocionart-analogic'] %}
  <div class="post">

    {{ post.excerpt }}    

  <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    
    </div>
  {% endfor %}
</div>
<br style="clear:both">
<hr/>
<h1 class="tooltip-description">Arte <abbr href="#" data-toggle="tooltip" title="{{ site.tooltip-digital }}">Digital</abbr></h1>
<div class="posts">
  {% for post in site.categories['emocionart-digital'] %}
  <div class="post">

    {{ post.excerpt }}    

  <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    
    </div>
  {% endfor %}
</div>

