
  <nav class="footer-nav">
    <p><small><a class="footer-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a> /
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" or node.layout == 'place' %}
          <a class="footer-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a> /
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="footer-nav-item" href="{{ site.full-shop.repo }}">artinpocket.cat</a> /
    <span class="footer-nav-item">Currently v{{ site.version }}</span>
    </small></p>
  </nav>