---
layout: compress
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ca" lang="ca" {% if page.og %}prefix="og: http://ogp.me/ns#"{% endif %}>

  {% include head.html %}

  <body unresolved class="theme-base-0a {% if page.category == 'mur' %}mur{% endif %}{% if page.category == 'mur-diari' or page.title == 'Aportacions' %}mur-diari{% endif %}{% if page.class == 'artwork' %}artwork{% endif %} {% if page.title == 'Home' %}home{% endif %}">
  <digital-default></digital-default>
    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <label for="sidebar-checkbox" class="sidebar-toggle"></label>

          <h3 class="masthead-title">
            <a href="/" title="Home"><img class="logo-icon" src="/public/img/{{ site.icon }}">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      {% if page.title == 'Home' %}
      <div class="home-title">
        <h1 class="text-center">{{ page.subtitle }}</h1>
        <h2 class="text-center">{{ page.subsubtitle }}</h2>
        <h3 class="text-center">{{ page.subsubsubtitle }}</h3>
      </div>
      {% endif %}

      <div class="container {% if page.title == 'Home' %}donatius{% endif %} content">
        {{ content }}
      </div>
    </div>

    <footer class="related">
      <div class="container">
        <p>{{ site.description }}</p>
        <p class="text-right">
          <a href="https://twitter.com/Artinpocket" title="Twitter" rel="external"><i class="fa fa-twitter"></i></a> <a href="https://www.facebook.com/pages/Artinpocket/617130554970586" title="Facebook" rel="external"><i class="fa fa-facebook"></i></a> <a href="http://www.pinterest.com/artinpocket/" title="Pinterest" rel="external"><i class="fa fa-pinterest"></i></a> <a href="http://www.linkedin.com/company/artinpocket" title="Linkedin" rel="external"><i class="fa fa-linkedin"></i></a> <a href="mailto:info@artinpocket.cat" title="Correu-e" rel="external"><i class="fa fa-envelope"></i></a></span>
        </p>
        <div class="row">
      
          <div class="col-sm-6 col-lg-6">
	    <h2>Organiza</h2>
            <a href="{{ site.organitza.oxygen.url }}"><img src="/public/img/{{ site.organitza.artinpocket.logo }}" alt="{{ site.organitza.artinpocket.description }}" title="{{ site.organitza.artinpocket.description }}"></a>
          </div>
          
          <div class="col-sm-6 col-lg-6">
	    <h2>Partner</h2>
            <a href="{{ site.colabora.oxygen.url }}"><img src="/public/img/{{ site.colabora.oxygen.logo }}" alt="{{ site.colabora.oxygen.description }}" title="{{ site.colabora.oxygen.description }}"></a>
          </div>

        </div>
        {% include footer-sitemap.html %}
      </div>
    </footer>
    
  </body>
</html>
